<div class="jumbotron">
	<h1>Astellas Oncology LIVE Lunchtime Webinars </h1>
<p>
  A multidisciplinary approach to prostate cancer understanding and management
</p>

<br>
			<%= simple_form_for("user", :url => new_user_session_path) do |f| %>
			  
			  <%= f.text_field :name, placeholder: 'First Name' %>
			  <br>
			  <%= f.text_field :name, placeholder: 'Surname' %>
			  <br>
			  <%= f.email_field :email, placeholder: 'Email Address' %>
			  <br>
			  <%= f.submit 'Register', class: 'btn btn-success btn-large' %>

<% end %>
</div>